/* src/App.css */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evitar scroll */
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black; /* Fondo negro */
  overflow: hidden;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkling 2s infinite alternate; /* Aumentar el tiempo para parpadeo lento */
}

@keyframes twinkling {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
